<!DOCTYPE html>
<html lang="en">
<head>	
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>  <%= titleData %></title>
	<link  href="profile.css" rel="stylesheet" type="text/css"> 
	<link href="/public/profile.css"  rel="stylesheet" type="text/css"> 
	<link href="public/profile.css"  rel="stylesheet" type="text/css"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rammetto+One&family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>  
    <div class="Alaa">
		<div class="one">
			<div class="two">
                 <img src="/<%= id %>/profile.png" alt="dog" class="dog">
            
			</div>
		</div >
		<div class="text">
			<div class="text1">
                <p>
                    <%= titleData %>
				</p>
				<div class="text2">
                    <p>
                        <%= bioData %>
                    </p> 			 
			</div>
			<div class="Yael">
				<img src="/<%= id %>/profile1.png" alt="profile1">
			</div>
		</div>
		<div class="box1">
			<div class="box2">
				<h2> Endorsement</h2>
				<div class="box5">
					<p>
						I remember the first time I met Mickey the Debug Dog.
						Mickey looked so fierce as they stared at the code with me. I slowly explained
						everything and they listened to my every word.
						The pauses were uncomfortable, but then I SAW it. I saw the error. Mickey
						saved me hours of anguish.
					</p>
					<hr class="line"/>
					<span class="italic">Sofia H, AP CS student.</span>
				</div>
				<div class="box5">
					<p>
						Mickey KNOWS THE WAE Mickey 
					</p>
					<hr class="line"/>
					<span class="italic" >Manesh J, Software Engineer, Imaginarium.</span>
				</div>
				<div class="box5">
					<p>
						Mickey has been an amazing help to me, someone who listens to every problem and is never judgemental.
					</p>
					<hr class="line"/>
					<span class="italic" >Chris L, Programming Club Participant.</span>
				</div>
				<div class="box5">
					<p>
						AMickey your own endorsement here!
					</p>
					<hr class="line" />
					<span class="italic"> Alaa Zoubi, Student </span>
				</div>
				<div class="box5">
					<p>
						AMickey your friend's endorsement here!
					</p>
					<hr class="line" />
					<span class="italic"> Yael Zakaria ,Student </span> 
				</div>
			</div>
			<div class="box3">
				<img src="/<%= id %>/profile2.png" alt="profile2" class="DOG1">
			</div>
		</div>
		<div class="pic">
			<h2> Meet the whole debugging squad </h2>
			<div class="friend">
					<img src="/<%= id %>/friend1.png" alt="friend1">
					<img src="/<%= id %>/friend2.png"  alt="friend2">
					<img src="/<%= id %>/friend3.png" alt="friend3">
					<img src="/<%= id %>/friend4.png" alt="friend4">
					<img src="/<%= id %>/friend5.png" alt="friend5">
					<img src="/<%= id %>/friend6.png" alt="friend6">
					<img src="/<%= id %>/friend7.png" alt="friend7">
					<img src="/<%= id %>/friend8.png" alt="friend8">
			</div>
		</div>
		<div class="zefat">
			Zefat Academic College
		</div>
	</div>	
</body>
</html>
