<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link href="profile.css" rel="stylesheet" type="text/css" />
    <link href="/public/profile.css" rel="stylesheet" type="text/css" />
    <link href="public/profile.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rammetto+One&family=Recursive:wght@300..1000&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="Alaa">
      <div class="one">
        <div class="two">
          <img src="/<%= id %>/profile.png" alt="dog" class="dog" />
        </div>
      </div>

      <h1 class="title"><%= title %></h1>

      <div class="text">
        <div class="text1">
          <p><%= titleData %></p>
		   
		  <% for(var i=0; i<bioDataArray.length-1;i=i+2) {%>
			<div class="text2"> 
				<p class="inner"><%= bioDataArray[i] %></p>
 				<p class="inner">
					<%= bioDataArray[i+1] %>
				</p>
			  </div>
			
		<%} %>
		
          <div class="Yael">
            <img src="/<%= id %>/profile1.png" alt="profile1" />
          </div>
        </div>
      </div>

      <div class="box1">
        <div class="box2">
          <h2>Endorsement</h2>
		  
		  
          <div class="box5">
            <p>
              I remember the first time I met Mickey the Debug Dog. Mickey
              looked so fierce as they stared at the code with me. I slowly
              explained everything and they listened to my every word. The
              pauses were uncomfortable, but then I SAW it. I saw the error.
              Mickey saved me hours of anguish.
            </p>
            <hr class="line" />
            <span class="italic">Sofia H, AP CS student.</span>
          </div>
		  
	 
 
		  <% for(var i=0; i<reviewsData.length-1;i=i+2) {%>
		  
			  <div class="box5">
				<p>
					<%= reviewsData[i] %>
				</p>
				<hr class="line" />
				<span class="italic"><%= reviewsData[i+1] %></span>
			  </div>
			  
		<%} %>

		  
        </div>
        <div class="box3">
          <img src="/<%= id %>/profile2.png" alt="profile2" class="DOG1" />
        </div>
      </div>

      <div class="pic">
        <h2>Meet the whole debugging squad</h2>
        <div class="friend">
          <img src="/<%= id %>/friend1.png" alt="friend1" />
          <img src="/<%= id %>/friend2.png" alt="friend2" />
          <img src="/<%= id %>/friend3.png" alt="friend3" />
          <img src="/<%= id %>/friend4.png" alt="friend4" />
          <img src="/<%= id %>/friend5.png" alt="friend5" />
          <img src="/<%= id %>/friend6.png" alt="friend6" />
          <img src="/<%= id %>/friend7.png" alt="friend7" />
          <img src="/<%= id %>/friend8.png" alt="friend8" />
        </div>
      </div>

      <div class="zefat">Zefat Academic College</div>
    </div>
  </body>
</html>
